In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter
import csv
import os
from GLTaxSettingsByState import GLTaxSettingsByState

In [2]:
def excelSave(df_dict):    
    def write_df(dataframe, df_key):
        if dataframe is None:
            print("error w/ df")
        writer = ExcelWriter(df_key + ".xlsx", engine="xlsxwriter")
        dataframe.to_excel(writer, sheet_name=df_key + "_")
        writer.save()
    if isinstance(df_dict, type(dict())):
        for df_key in df_dict.keys():
            write_df(df_dict.get(df_key, None), df_key)
    write_df(df_dict)

In [3]:
csv_path = os.path.join(os.curdir, "../data/test_NAPGLDATA/CORE0918-1018.csv")

In [4]:
with open(csv_path) as csv_file:
    for i in range(0, 4):
        next(csv_file)
    df = pd.read_csv(csv_file)

In [5]:
df.head(1)

,Record Type::Number,CM Trx Type,TRX Timestamp Date,GL Posting Date,Trx Number,PaidToRcvd From,Description,TRX Amount,Originating Debit Amount,Originating Credit Amount,Main Account Segment,Segment2,Segment3,Segment4,Segment5,Segment6,Account Description
0,1::423,Bank Payment,2018-09-10,2018-09-10,3196,Scott Jarus,Area 1D Referee Management Meeting for MY2018,$270.01,$270.01,$0.00,5433,0,1,D,0,0,Clinic Training Expenses Referees

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26758 entries, 0 to 26757
Data columns (total 17 columns):
Record Type::Number          26758 non-null object
CM Trx Type                  26758 non-null object
TRX Timestamp Date           26758 non-null object
GL Posting Date              26758 non-null object
Trx Number                   26758 non-null object
PaidToRcvd From              26642 non-null object
Description                  15123 non-null object
TRX Amount                   26758 non-null object
Originating Debit Amount     26758 non-null object
Originating Credit Amount    26758 non-null object
Main Account Segment         26758 non-null int64
Segment2                     26758 non-null int64
Segment3                     26758 non-null int64
Segment4                     26758 non-null object
Segment5                     26758 non-null int64
Segment6                     26758 non-null int64
Account Description          26758 non-null object
dtypes: int64(5), object(12)
memory usage: 3.5+ MB

In [7]:
conditions = [df["Main Account Segment"] > 5000,
             df["Main Account Segment"] <= 5000]

outputs = ["Expense Account",
          "Revenue Account"]

In [8]:
res = np.select(conditions, outputs, "Other")
df["A/R"] = pd.Series(res)

In [9]:
exp_df = df.loc[df["A/R"] == "Expense Account"]

In [10]:
state_settings = GLTaxSettingsByState["CA"]
state_settings

{'4010': True,
 '4012': True,
 '4024': True,
 '4027': True,
 '5101': False,
 '5102': False,
 '5103': False,
 '5104': False,
 '5105': True,
 '5106': True,
 '5107': True,
 '5108': True,
 '5135': True}

In [11]:
conditions = list()
outputs = list()
for glcode in state_settings.keys():
    if state_settings.get(glcode):
        conditions.append(exp_df["Main Account Segment"] == int(glcode))
        outputs.append("Taxable")
res = np.select(conditions, outputs, "Non-Taxable")

In [12]:
dict_count = {}
for item in res:
    dict_count[item] = dict_count.get(item, 0) + 1

In [13]:
dict_count

{'Non-Taxable': 16274, 'Taxable': 913}

In [14]:
exp_df["Taxables?"] = pd.Series(res)

C:\Users\nabeel\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
exp_df

,Record Type::Number,CM Trx Type,TRX Timestamp Date,GL Posting Date,Trx Number,PaidToRcvd From,Description,TRX Amount,Originating Debit Amount,Originating Credit Amount,Main Account Segment,Segment2,Segment3,Segment4,Segment5,Segment6,Account Description,A/R,Taxables?
0,1::423,Bank Payment,2018-09-10,2018-09-10,3196,Scott Jarus,Area 1D Referee Management Meeting for MY2018,$270.01,$270.01,$0.00,5433,0,1,D,0,0,Clinic Training Expenses Referees,Expense Account,Non-Taxable
1,1::424,Bank Payment,2018-09-10,2018-09-10,3197,Rick Roberts,Domain name registration,$53.79,$53.79,$0.00,7515,0,1,D,0,0,Phone/Internet/Website,Expense Account,Non-Taxable
2,1::426,Bank Payment,2018-10-01,2018-10-01,3198,Mike Riley,Expenses for Advanced Coach Training Class,$0.00,$1085.34,$0.00,5432,0,1,D,0,0,Clinic Training Expenses Coaches,Expense Account,Non-Taxable
3,1::426,Bank Payment,2018-10-01,2018-10-01,3198,Mike Riley,Expenses for Advanced Coach Training Class // ...,$0.00,$0.00,$1085.34,5432,0,1,D,0,0,Clinic Training Expenses Coaches,Expense Account,Non-Taxable
4,1::427,Bank Payment,2018-10-01,2018-10-01,3199,AYSO,Manuals and Certificates for Advanced Coach Class,$562.93,$562.93,$0.00,5432,0,1,D,0,0,Clinic Training Expenses Coaches,Expense Account,Non-Taxable
5,1::428,Bank Payment,2018-10-01,2018-10-01,3200,Mike Riley,Expenses for Advanced Coach Training Class,$0.00,$1085.34,$0.00,5432,0,1,D,0,0,Clinic Training Expenses Coaches,Expense Account,Non-Taxable
6,1::428,Bank Payment,2018-11-04,2018-10-01,3200,Mike Riley,Expenses for Advanced Coach Training Class // ...,$0.00,$0.00,$1085.34,5432,0,1,D,0,0,Clinic Training Expenses Coaches,Expense Account,Non-Taxable
7,1::430,Bank Payment,2018-11-04,2018-10-01,3198,Mike Riley,Expenses for Advanced Coach Training Class,$1085.34,$1085.34,$0.00,5432,0,1,D,0,0,Clinic Training Expenses Coaches,Expense Account,Non-Taxable
8,1::438,Bank Payment,2018-12-12,2018-10-01,39,SERVICE FEE,NaN,$3.00,$3.00,$0.00,8305,0,1,D,0,0,Bank Fees,Expense Account,Non-Taxable
58,11::25,Customer Credit Note,2018-10-08,2018-10-08,24,Redlands AYSO Region 50,Redlands AYSO Challenge TeamCal-South Registra...,$0.00,$150.00,$0.00,5715,0,10,D,0,0,Payments to Referees (Playing Circuit),Expense Account,Non-Taxable
67,11::28,Customer Credit Note,2018-10-08,2018-10-08,27,Palmdale AYSO Region 393,AYSO Challenge 2002 G (15 Players)Cal-South $2...,$0.00,$125.00,$0.00,5111,0,10,D,0,0,Field Expenses,Expense Account,Non-Taxable
69,1::583,Bank Payment,2018-11-07,2018-09-08,5097,AYSO Section 10,Donation to Section 10 for their VIP tournamen...,$500.00,$500.00,$0.00,5275,0,10,D,0,0,Donations,Expense Account,Non-Taxable
70,1::584,Bank Payment,2018-11-07,2018-10-02,5098,David Coleman,Reimbursement for the New Area Canopy & sand b...,$644.95,$644.95,$0.00,5130,0,10,D,0,0,Equipment-TAX PAID,Expense Account,Non-Taxable
71,1::585,Bank Payment,2018-11-07,2018-10-02,5099,City of Lancaster,Permit #54 Area mini tourn. 8/25/18 Lancaster ...,$121.00,$121.00,$0.00,5115,0,10,D,0,0,Park Fees,Expense Account,Non-Taxable
72,1::586,Bank Payment,2018-11-07,2018-10-21,5100,Captain Tony&#039;s Pizza & Pasta,Food / Lunch for staff & volunteers Area Playo...,$249.93,$249.93,$0.00,5224,0,10,D,0,0,"Tournament Water, Food (Referees, Staff)",Expense Account,Non-Taxable
73,1::587,Bank Payment,2018-11-07,2018-10-21,5101,West Coast Emergency Medical Services,EMT Area Playoffs 16U-19U 10/21/18 Lancaster D...,$400.00,$400.00,$0.00,5226,0,10,D,0,0,Tournament Medical Personnel,Expense Account,Non-Taxable
74,1::588,Bank Payment,2018-11-07,2018-10-28,5102,West Coast Emergency Medical Services,EMT Area Playoffs 16U-19U 10/28/18 Lancaster D...,$400.00,$400.00,$0.00,5226,0,10,D,0,0,Tournament Medical Personnel,Expense Account,Non-Taxable
75,1::589,Bank Payment,2018-11-07,2018-10-28,5103,Wayne Hale,Donuts for 10/21/18 & breakfast burritos 10/28...,$41.27,$41.27,$0.00,5224,0,10,D,0,0,"Tournament Water, Food (Referees, Staff)",Expense Account,Non-Taxable
76,1::590,Bank Payment,2018-11-07,2018-10-28,5104,David Coleman,Reimbursement snacks/drinks/ice Area playoffs ...,$108.77,$108.77,$0.00,5224,0,10,D,0,0,"Tournament Water, Food (Referees, Staff)",Expense Account,Non-Taxable
77,1::591,Bank Payment,2018-11-07,2018-09-29,54,DCB Bank,Paper statement fee - bank fee // Paper statem...,$4.00,$4.00,$0.00,8305,0,10,D,0,0,Bank Fees,Expense Account,Non-Taxable
78,1::594,Bank Payment,2018-11-26,2018-10-31,55,DCB Bank Fee,DCB paper statement fee // DCB paper statement...,$4.00,$4.00,$0.00,8305,0,10,D,0,0,Bank Fees,Expense Account,Non-Taxable
86,1::602,Bank Payment,2018-09-19,2018-09-19,6923,Jiju Peters,5433,$28.95,$28.95,$0.00,5433,0,6,D,794,0,Clinic Training Expenses Referees,Expense Account,Non-Taxable
87,1::603,Bank Payment,2018-09-19,2018-09-19,6924,Mark Knudson,5432,$66.69,$66.69,$0.00,5432,0,6,D,794,0,Clinic Training Expenses Coaches,Expense Account,Non-Taxable
88,1::604,Bank Payment,2018-09-23,2018-09-23,6925,"American Soccer Company, Inc.",5105-5106-5107-7540-8595,$5431.00,$3774.65,$0.00,5105,0,6,D,794,0,Uniforms-Players-NO TAX PAID,Expense Account,Non-Taxable
89,1::604,Bank Payment,2018-09-23,2018-09-23,6925,"American Soccer Company, Inc.",5105-5106-5107-7540-8595,$5431.00,$581.50,$0.00,5106,0,6,D,794,0,Uniforms-Coaches-NO TAX PAID,Expense Account,Non-Taxable
90,1::604,Bank Payment,2018-09-23,2018-09-23,6925,"American Soccer Company, Inc.",5105-5106-5107-7540-8595,$5431.00,$865.50,$0.00,5107,0,6,D,794,0,Uniforms-Referee-NO TAX PAID,Expense Account,Non-Taxable
91,1::604,Bank Payment,2018-09-23,2018-09-23,6925,"American Soccer Company, Inc.",5105-5106-5107-7540-8595,$5431.00,$192.98,$0.00,7540,0,6,D,794,0,Freight Paid for Uniforms and Equipment,Expense Account,Non-Taxable
92,1::604,Bank Payment,2018-09-23,2018-09-23,6925,"American Soccer Company, Inc.",5105-5106-5107-7540-8595 // Fin Ch,$5431.00,$16.37,$0.00,8595,0,6,D,794,0,Other Expenses,Expense Account,Non-Taxable
93,1::605,Bank Payment,2018-09-23,2018-09-23,6926,"Sator Sports, Inc.",5274-5106-5107-7540-5135-5108-7695,$1052.00,$315.00,$0.00,5274,0,6,D,794,0,Awards & Volunteer Recognition,Expense Account,Non-Taxable
94,1::605,Bank Payment,2018-09-23,2018-09-23,6926,"Sator Sports, Inc.",5274-5106-5107-7540-5135-5108-7695,$1052.00,$123.70,$0.00,5135,0,6,D,794,0,Equipment-NO TAX PAID,Expense Account,Non-Taxable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26707,1::288,Bank Payment,2018-12-11,2018-10-10,1032,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$60.00,$60.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26708,1::289,Bank Payment,2018-12-11,2018-10-10,1091,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$62.50,$62.50,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26709,1::290,Bank Payment,2018-12-11,2018-10-02,1093,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$1955.00,$1955.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26710,1::291,Bank Payment,2018-12-11,2018-10-15,1094,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$17.50,$17.50,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26711,1::292,Bank Payment,2018-12-11,2018-10-02,1095,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$175.00,$175.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26712,1::293,Bank Payment,2018-12-11,2018-10-11,1096,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$575.00,$575.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26713,1::294,Bank Payment,2018-12-11,2018-10-17,1097,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$507.50,$507.50,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26714,1::295,Bank Payment,2018-12-11,2018-10-31,1098,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$230.00,$230.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26715,1::296,Bank Payment,2018-12-11,2018-10-18,1099,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$6330.71,$6330.71,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26716,1::297,Bank Payment,2018-12-11,2018-10-26,1101,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$380.00,$380.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26717,1::298,Bank Payment,2018-12-11,2018-10-22,1102,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$1905.00,$1905.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26718,1::299,Bank Payment,2018-12-11,2018-10-25,1103,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$1360.00,$1360.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26719,1::300,Bank Payment,2018-12-11,2018-10-30,1104,Check(s) Not Enclosed,NEED CHECK IMAGE / CODE / RECEIPT,$350.00,$350.00,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26720,1::301,Bank Payment,2018-12-11,2018-10-02,259,Google,NEED CHECK IMAGE / CODE / RECEIPT // DEBIT TRA...,$22.50,$22.50,$0.00,5111,0,11,R,1656,0,Field Expenses,Expense Account,NaN
26721,1::101,Bank Payment,2018-10-25,2018-09-17,48,IMAGE STATEMENT,NaN,$5.00,$5.00,$0.00,8305,0,12,D,1654,0,Bank Fees,Expense Account,NaN
26723,1::24,Bank Payment,2018-11-16,2018-09-26,353,DEBORAH I. GONZALEZ,NaN,$200.00,$200.00,$0.00,5225,0,11,V,1529,0,Concession Expenses,Expense Account,NaN
26726,2::41,Bank Deposit,2018-10-13,2018-09-30,38,Interest,Bank Interest // Bank Interest,$-0.60,$0.00,$0.60,9105,0,6,U,1658,0,Interest Income,Expense Account,NaN
26727,1::24,Bank Payment,2018-10-13,2018-09-22,1115,Gary Edwards,Gary Edwards- Ribbons // Gary Edwards,$0.00,$31.49,$0.00,5274,0,6,U,1658,0,Awards & Volunteer Recognition,Expense Account,NaN
26728,1::24,Bank Payment,2018-11-12,2018-09-22,1115,Gary Edwards,Gary Edwards- Ribbons // REVERSED:Gary Edwards,$0.00,$0.00,$31.49,5274,0,6,U,1658,0,Awards & Volunteer Recognition,Expense Account,NaN
26729,1::25,Bank Payment,2018-10-13,2018-09-22,1116,Score,Score- Uniforms // Score,$265.54,$265.54,$0.00,5105,0,6,U,1658,0,Uniforms-Players-NO TAX PAID,Expense Account,NaN
26730,1::26,Bank Payment,2018-10-13,2018-10-04,1117,Index,Index // Index,$34.50,$34.50,$0.00,5255,0,6,U,1658,0,Ads/Newsletter/Yearbook/Pictures,Expense Account,NaN
26731,1::27,Bank Payment,2018-10-13,2018-10-13,1118,Rebecca Davis,Ceremony Supplies // Ceremony Supplies,$125.90,$125.90,$0.00,5274,0,6,U,1658,0,Awards & Volunteer Recognition,Expense Account,NaN
26732,1::28,Bank Payment,2018-11-12,2018-09-22,1115,Gary Edwards,Gary Edwards- Ribbons (Bank cashed at $31.40) ...,$31.40,$31.40,$0.00,5274,0,6,U,1658,0,Awards & Volunteer Recognition,Expense Account,NaN
26733,2::42,Bank Deposit,2018-12-03,2018-10-31,39,bank Interest,Bank Interest // Bank Interest,$-0.47,$0.00,$0.47,9105,0,6,U,1658,0,Interest Income,Expense Account,NaN
26739,1::17,Bank Payment,2018-10-23,2018-09-01,1011,KENDALL SMITH,NaN,$207.84,$207.84,$0.00,5433,0,8,D,1625,0,Clinic Training Expenses Referees,Expense Account,NaN
26744,1::18,Bank Payment,2018-10-23,2018-09-28,5,WITHDRAWAL,NaN,$60.00,$60.00,$0.00,5111,0,8,D,1625,0,Field Expenses,Expense Account,NaN
26751,2::1,Bank Deposit,2018-11-02,2018-09-01,1,DEPOSIT,NaN,$-20000.00,$0.00,$20000.00,5701,0,1,F,1661,0,Payments to AYSO Inter-regional (transfers),Expense Account,NaN
26754,1::1,Bank Payment,2018-11-02,2018-09-01,1,BANK OF AMERICA,NaN,$0.00,$150.65,$0.00,8305,0,1,F,1661,0,Bank Fees,Expense Account,NaN
26755,1::1,Bank Payment,2018-11-02,2018-09-01,1,BANK OF AMERICA,// REVERSED:,$0.00,$0.00,$150.65,8305,0,1,F,1661,0,Bank Fees,Expense Account,NaN
26756,1::2,Bank Payment,2018-11-02,2018-09-01,1,BANK OF AMERICA,NaN,$69.00,$69.00,$0.00,8305,0,1,F,1661,0,Bank Fees,Expense Account,NaN